.__experience {
  padding-top: 50px;
  background-color: #FCFCFC;
  border: 1px solid #91b5b1; }
  .__experience > .__content {
    padding: 0 10px;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Cinzel', serif; }
    .__experience > .__content .__title {
      font-size: 44px;
      line-height: 56px;
      margin-bottom: 32px;
      word-wrap: break-word;
      text-align: center; }
    .__experience > .__content .__subtitle {
      font-size: 33px;
      line-height: 45px;
      text-align: center;
      padding-bottom: 35px;
      border-bottom: 1px solid #91b5b1; }
      .__experience > .__content .__subtitle span {
        color: #91b5b1; }
  .__experience .__contentRow {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center; }
    .__experience .__contentRow .timeline {
      position: relative;
      margin: 0 auto;
      padding: 2em 0;
      list-style: none; }
      .__experience .__contentRow .timeline:before {
        content: "";
        position: absolute;
        top: 1em;
        left: 2em;
        width: .1em;
        height: calc(100% + -3em);
        background: #91b5b1; }
        @media screen and (min-width: 45em) {
          .__experience .__contentRow .timeline:before {
            left: 50%;
            transform: translateX(-50%); } }
    .__experience .__contentRow .timeline__entry {
      position: relative;
      margin-bottom: 4em;
      color: #fff; }
      .__experience .__contentRow .timeline__entry:after {
        content: "";
        display: table;
        clear: both; }
    .__experience .__contentRow .timeline__id {
      position: absolute;
      top: 0;
      left: 2em;
      padding: .5em 1em;
      color: #282727;
      background: #fcfcfc;
      transform: translateX(-50%); }
      @media screen and (min-width: 45em) {
        .__experience .__contentRow .timeline__id {
          left: 50%;
          transform: translateX(-50%);
          font-size: 11px; } }
    .__experience .__contentRow .timeline__content {
      position: relative;
      display: block;
      margin-left: 6em; }
      @media screen and (min-width: 45em) {
        .__experience .__contentRow .timeline__content {
          margin-left: 0;
          padding: 0 2.5em;
          text-align: justify;
          width: calc(50% - 4em); } }
    @media screen and (min-width: 45em) {
      .__experience .__contentRow .timeline__content--flipped {
        float: right; }
        .__experience .__contentRow .timeline__content--flipped:before {
          left: -1em;
          right: auto;
          border-left: none;
          border-right: 1em solid #282727; } }
    .__experience .__contentRow .timeline__heading {
      color: #ccc;
      margin: .25em 0;
      font-size: 2.5rem;
      font-family: 'Cinzel', serif; }
    .__experience .__contentRow .timeline__subtitle {
      color: #91b5b1;
      font-size: 2.2rem;
      font-family: 'Cinzel', serif; }
    .__experience .__contentRow .timeline__text {
      color: #333;
      font-family: 'Cinzel', serif;
      font-size: 1.8rem; }
      .__experience .__contentRow .timeline__text:last-child {
        margin-bottom: 0; }

@media only screen and (max-width: 1024px) {
  .__experience .__contentPicture {
    width: 100%;
    height: auto; }
    .__experience .__contentPicture picture {
      overflow: hidden; }
    .__experience .__contentPicture img {
      margin-top: 48px;
      width: 106%;
      height: auto; }
  .__experience .__row:first-child {
    margin-right: 0; } }

@media only screen and (max-width: 640px) {
  .__experience {
    border: none;
    margin: 0; }
    .__experience > .__content .__title {
      font-size: 22px;
      line-height: 30px;
      margin-bottom: 20px; }
    .__experience > .__content .__subtitle {
      font-size: 18px;
      line-height: 25px; }
    .__experience .__contentRow {
      flex-flow: row wrap; }
      .__experience .__contentRow .timeline__heading {
        font-size: 2rem; }
      .__experience .__contentRow .timeline__subtitle {
        font-size: 1.8rem;
        margin-top: 10px; }
      .__experience .__contentRow .timeline__text {
        font-size: 1.3rem; }
      .__experience .__contentRow .timeline__id {
        left: 3em;
        font-size: 11px; }
    .__experience .__row {
      flex: 1 100%; }
      .__experience .__row:first-child {
        border: 0;
        padding-top: 0;
        order: 2; }
      .__experience .__row:last-child {
        order: 1; }
        .__experience .__row:last-child .__contentPicture {
          border-top: 10px solid red; }
          .__experience .__row:last-child .__contentPicture > picture {
            text-align: center;
            margin: 0 auto;
            width: 100%; }
            .__experience .__row:last-child .__contentPicture > picture > img {
              width: 100%; } }
